* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Monoton", cursive;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Zen Dots', sans-serif;
  font-size: large;
  color: rgb(0, 217, 255); 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative; 
  padding: 10vh;
}


/*LOADER*****************************************************/
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}


.loader-rectangle {
  display: flex;
  flex-direction: row;
  gap: 10vh;
  border: none; 
  padding: 10vh;
  border-radius: 10px; 
  position: relative; 
}

.loader-rectangle::before,
.loader-rectangle::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px; 
  width: 0%; 
  background-color: rgb(0, 217, 255); 
  animation: drawLine 2s linear forwards, fadeOutBorder 0.2s linear forwards 1.9s; 
}

.loader-rectangle::before {
  top: 0; 
}

.loader-rectangle::after {
  bottom: 0; 
}

@keyframes drawLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; 
  }
}

@keyframes fadeOutBorder {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}

.loader__spinner {
  border: 5px solid rgb(0, 217, 255); 
  border-right: 10px solid transparent; 
  border-radius: 50%; 
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite, fadeOutLoader 0.2s 1.9s forwards; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-enabled {
  opacity: 0;
  animation: fadeInContent 3s forwards 2s;
  position: relative;
  z-index: 10;
}

/*navbar /menu *****************************************************/

header {
  padding: 10px 0;
}

.menu {
  display: flex;
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 10;
  animation: slide-down 2s forwards;
}

.nav-content {
  display: flex;
}



.menu .link-nav {
  color: rgb(255, 20, 147);
  text-decoration: none;
  margin: 0 25px; 
  font-size: 24px;
  transition: color 0.3s;
}

.link-nav {
  display: none;  
}

.link-nav.visible {
  display: inline-block; 
}

.menu .link-nav:hover {
  color: rgb(0, 217, 255); 
}


@keyframes slide-down {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

#toggle-music-button {
  color:rgb(255, 20, 147);
  background-color: transparent;
  border: none; 
  padding: 10px 15px; 
  font-size: 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

#toggle-music-button:hover {
  color: rgb(0, 217, 255); 
}

.icon-play {
  display: inline;
}

.icon-pause {
  display: none;
}




/*Welcome part - background img ******/

#Welcome-part {
  padding: 0px;
  margin: 0px;

}

.background-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column; /* Aligne contenu verticalement */
  align-items: center; /* Centrer les éléments */

}

.background-img {
  width: 100%;
  opacity: 0; /* Assurez-vous que l'image est invisible au départ */
  animation: fade-in 6s forwards;
  animation-delay: 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* NEON LINKS **************************/
.neon-links {
  position: absolute;
  bottom: 5%;
  right: 35%;
  transform: translateX(0);
  display: flex;
  gap: 40%;
  flex-wrap: nowrap;
  opacity: 0;
  animation: fade-in-links 1s forwards;
  animation-delay: 6s;
  z-index: 20;
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

@keyframes fade-in-links {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}



.neon-link1,
.neon-link2,
.neon-link3 {
  text-align: center;
  }


.neon-link1 {
  color: rgb(0, 217, 255); 
  text-decoration: none; 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
}

.neon-link2 {
  color: rgb(183, 233, 171); 
  text-decoration: none; 
  text-shadow: 
      0 0 5px rgba(57, 255, 20, 0.7),
      0 0 10px rgba(57, 255, 20, 0.7),
      0 0 15px rgba(57, 255, 20, 0.7),
      0 0 20px rgba(57, 255, 20, 0.7),
      0 0 25px rgba(57, 255, 20, 0.7);
}

.neon-link3 {
  color: rgb(214, 128, 174); 
  text-decoration: none;
  text-shadow: 
      0 0 5px rgba(255, 20, 147, 0.7),
      0 0 10px rgba(255, 20, 147, 0.7),
      0 0 15px rgba(255, 20, 147, 0.7),
      0 0 20px rgba(255, 20, 147, 0.7),
      0 0 25px rgba(255, 20, 147, 0.7);
}

@keyframes flicker {
  0%, 100% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
}

.neon-link1:nth-child(1) {
  opacity: 0; 
  animation: appear-flicker 1s forwards; 
  animation-delay: 8s; 
}

.neon-link2:nth-child(2) {
  opacity: 1; 
  animation-delay: 4s; 
}


@keyframes appear-flicker {
  0% {
      opacity: 0; 
  }
  30% {
      opacity: 1; 
  }
  50% {
      opacity: 1; 
  }
  70% {
      opacity: 0; 
  }
  80% {
      opacity: 1; 
  }
  90% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}

.neon-link3:nth-child(3) {
  opacity: 1; 
}

.neon-link1,
.neon-link2,
.neon-link3 {
  display: inline-block; 
  transform-origin: center;
  transition: transform 0.2s ease; 
}

.neon-link1:hover,
.neon-link2:hover,
.neon-link3:hover {
  transform: scale(1.1); 
}

/* TEXTE PRESENTATION ****************************************************/
#presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10vh 5vh;
}

.presentation-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.presentation-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  padding: 5vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/*PROJETS ****************************************************************/
.project-item h3 {
  color: pink;
}

#projects {
  text-align: center;
      background-image: url('../Assets/Images/background-image/planches-noires.avif');
      background-size: cover; /* Ajuste l'image pour couvrir toute la section */
      background-repeat: no-repeat; /* Empêche la répétition */
      background-position: center; /* Centre l'image */
      width: 100%; /* Assure que la section prend toute la largeur */
      height: 100vh; /* Définit une hauteur de 100% de la hauteur de la fenêtre */
}

.Projects-title {
  color: rgb(0, 217, 255); 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
  font-size: 36px; 
  padding: 7vh;
  position: absolute; 
  top: 10vh;
  left: 45%;
}

.projects-grid {
  display: flex;
  flex-direction: row; 
  gap: 40px;
  position: absolute; 
  top: 20vh;
  padding: 5vh 10vh;
}
.project-card {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
  width: 100%; 
  max-width: 800px;
  height: auto;
  border: 1px solid rgb(0, 217, 255); ;
  background-color: rgba(0, 0, 0, 0.7);
  
}


.project-image img {
  /*width: 100%;
  height: auto;*/
  max-width: 100%; /* Largeur maximum de l'image */
  border-radius: 10px;
  object-fit: cover;
}

.project-content {
  flex: 1; /* Prend tout l'espace restant pour le contenu */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement le contenu */
}

.project-card:hover {
  transform: scale(1.05);
}
.project-card h3 {
  color: rgb(0, 217, 255); 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
  padding: 4vh;
  font-size: x-large;
}

.tags {
  color: black;
  font-family: 'Zen Dots', sans-serif;
}

.tags span {
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.8rem;
}
.project-links a {
  color: #00d9ff;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}
.project-links a:hover {
  color: #ff4081;
}

.github-logo {
  width: 3em;
  padding-top: 3vh;
}

.year-tag {
  position: absolute;
  top: -30px; 
  right: 10px;
  background-color: #ff4081;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  transition: top 0.3s ease;
}

.project-card:hover .year-tag {
  top: 10px; /* Slides down when hovering */
}

/*MODALE PROJECT****************************************************/
.modal-description-projects {
  color: pink;
  padding: 5vh;
}

.modal-projects {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content-projects {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  width: 100vh;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: rgb(183, 233, 171); 
  text-shadow: 
      0 0 5px rgba(57, 255, 20, 0.7),
      0 0 10px rgba(57, 255, 20, 0.7),
      0 0 15px rgba(57, 255, 20, 0.7),
      0 0 20px rgba(57, 255, 20, 0.7),
      0 0 25px rgba(57, 255, 20, 0.7);
  
}

.modal-projects img {
  max-width: 100%;
  height: auto;
  margin: 5px 0;
}

.tags span, .tool {
  background-color: #eee;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 2px;
  font-size: 0.9em;
}

#modal-video-projects {
  width: 60em;
}




/*PARCOURS *****************************************************/
#parcours {
  text-align: center;
  color: white; 
  display: flex;
  flex-direction: column;
}

.Parcours-title {
  color: rgb(183, 233, 171); 
  text-decoration: none;
  font-size: 36px;
  text-shadow: 
      0 0 5px rgba(57, 255, 20, 0.7),
      0 0 10px rgba(57, 255, 20, 0.7),
      0 0 15px rgba(57, 255, 20, 0.7),
      0 0 20px rgba(57, 255, 20, 0.7),
      0 0 25px rgba(57, 255, 20, 0.7);
  padding: 7vh;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10vh;
  padding-bottom: 5vh;
}

.filter-buttons button {
  padding: 8px 16px;
  margin: 0vh 5vh;
  border: none;
  border-radius: 10px;
  background-color: #6b00ff;
  color: white; 
  cursor: pointer;
  font-family: 'Zen Dots', sans-serif;
  font-size: 16px;
  box-shadow: 
      0 0 10px rgba(107, 0, 255, 0.5), 
      0 0 20px rgba(107, 0, 255, 0.7), 
      0 0 30px rgba(107, 0, 255, 0.9);
  transition: transform 0.2s, box-shadow 0.2s;
}

.filter-buttons button:hover {
  transform: scale(1.1);
  box-shadow: 
      0 0 15px rgba(107, 0, 255, 0.7), 
      0 0 30px rgba(107, 0, 255, 0.9), 
      0 0 45px rgba(118, 255, 151, 0.8);
}

.parcours-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 11vh; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 40vh;
}
.card img {
  width: auto;
  max-height: 7vh;
  border-radius: 4px;
  margin-bottom: 4vh;
}

.card-job {
  font-family: 'Zen Dots', sans-serif;
  margin-bottom: 4vh;
}

.card-type {
  margin-bottom: 4vh;
}

/*SKILLS***************************************************/
#skills {
  background-image: url('../Assets/Images/background-image/brickWall2.avif');
  background-size: cover; /* Ajuste l'image pour couvrir toute la section */
  background-repeat: no-repeat; /* Empêche la répétition */
  background-position: center; /* Centre l'image */
  width: 100%; /* Assure que la section prend toute la largeur */
  height: auto; /* Définit une hauteur de 100% de la hauteur de la fenêtre */
  padding: 40px 20px; /* Espacement autour de la section */
  background-color: #111; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte */
  text-align: center; /* Centrer le titre */
  padding-bottom: 20vh;
}

/* Titre de la section */
.Projects-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 7vh;
}

/* Grid container */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 colonnes égales */
  gap: 5%; /* Espacement entre les éléments */
  justify-items: center; /* Centrer les logos horizontalement */
  align-items: center;
  padding-top: 20vh;
  
}

/* Images des logos */
.skill-logo {
  max-width: 70%; /* Ajustez pour que l'image occupe une taille raisonnable */
  max-height: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce */
  border-radius: 10%;
}

.skill-logo:hover {
  transform: scale(1.1); /* Zoom léger au survol */
  box-shadow: 
  0 0 5px rgba(255, 20, 147, 0.7),
  0 0 10px rgba(255, 20, 147, 0.7),
  0 0 15px rgba(255, 20, 147, 0.7),
  0 0 20px rgba(255, 20, 147, 0.7),
  0 0 25px rgba(255, 20, 147, 0.7);
}

/*AVIS*****************************************************/


.avis-title {
  color: rgb(214, 128, 174); 
  font-size: 36px;
  text-decoration: none; 
  padding: 7vh;
  text-shadow: 
      0 0 5px rgba(255, 20, 147, 0.7),
      0 0 10px rgba(255, 20, 147, 0.7),
      0 0 15px rgba(255, 20, 147, 0.7),
      0 0 20px rgba(255, 20, 147, 0.7),
      0 0 25px rgba(255, 20, 147, 0.7);
}

.avisContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(../Assets/Images/background-image/delorean-7705900_960_720.jpg);
  background-size: cover; /* Ajuste l'image pour couvrir toute la section */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: center; /* Centre l'image */
    width: 100%; /* Assure que la section prend toute la largeur */
    height: 100%; /* Définit une hauteur de 100% de la hauteur de la fenêtre */

}

.avis-text {
  padding-bottom: 10vh;
}

.letters {
  width: 100%;
  max-width: 100%;
}

.letter {
  width: 100%;
  max-width: 100%;
}

.delorean {
  width: 100%;
}

/* button CV ***************************/
.img-CV-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10vh;
  justify-content: space-between;
}

.cv-button {
  color: black; /* Couleur du texte */
  background: linear-gradient(to top,rgb(255, 0, 140), rgb(255, 208, 0), rgb(238, 255, 0)); /* Dégradé de bas en haut */
  box-shadow: 
      0 0 5px rgba(255, 20, 147, 0.7),
      0 0 10px rgba(255, 20, 147, 0.7),
      0 0 15px rgba(255, 20, 147, 0.7),
      0 0 20px rgba(255, 20, 147, 0.7),
      0 0 25px rgba(255, 20, 147, 0.7);
  border: none; /* Supprime les bordures */
  border-radius: 50%; /* Rend l'élément circulaire */
  width: 200px; /* Largeur pour créer un cercle */
  height: 200px; /* Hauteur identique pour conserver la forme */
  display: flex; /* Pour centrer le texte */
  justify-content: center; /* Centrage horizontal du texte */
  align-items: center; /* Centrage vertical du texte */
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  cursor: pointer; /* Curseur interactif */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation pour effet au survol */
}

.cv-button:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Augmente l'ombre au survol */
}

.cv-button:active {
  transform: scale(0.95); /* Rétrécit légèrement le bouton au clic */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Réduit l'ombre au clic */
}

.cv-text {
  color: black;
  text-shadow: none;
}


/*Carousel Avis *******************************************************/
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  border: black solid 1vh;
}

/* Boutons de navigation */
.carousel-prev,
.carousel-next {
  left:50%;
  top: 80%; /* Centrage vertical */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 5vw; /* Taille responsive des icônes */
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%; /* Ajouter un arrondi pour un effet circulaire */
}


/* Place les flèches à l'extérieur de l'image */

.fa-arrow-left,
.fa-arrow-right {
  font-size: 4vh; /* Taille de l'icône responsive */
  text-shadow:
    0 0 5px rgba(255, 20, 147, 0.7),
    0 0 10px rgba(255, 20, 147, 0.7),
    0 0 15px rgba(255, 20, 147, 0.7),
    0 0 20px rgba(255, 20, 147, 0.7),
    0 0 25px rgba(255, 20, 147, 0.7);
}


#intermediaire {
  padding: 0vh;
}


/*MODAL AVIS ******************/
.modal-avis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 10000; 
  overflow: auto;
}

.modal-content-avis {
  position: relative;
  border-radius: 10px;
  text-align: center;
  z-index: 10001;
  width: 90%;
  max-width: 150vh;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.modal-close-avis {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10002; 
  color: black; 
  text-shadow: 
    0 0 5px rgba(255, 20, 147, 0.7),
    0 0 10px rgba(255, 20, 147, 0.7),
    0 0 15px rgba(255, 20, 147, 0.7),
    0 0 20px rgba(255, 20, 147, 0.7),
    0 0 25px rgba(255, 20, 147, 0.7);
}

.modal-image-avis {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-image-container-avis {
  max-height: 70vh; 
  overflow: auto;
  padding: 10px;
}


/* FORMULAIRE CONTACT***********************************************/
#contact {
  text-align: center;
  color: white;
  background-image: url('../Assets/Images/background-image/darkroad.webp');
  background-size: cover; /* Ajuste l'image pour couvrir toute la section */
  background-repeat: no-repeat; /* Empêche la répétition */
  background-position: center; /* Centre l'image */
  width: 100%; /* Assure que la section prend toute la largeur */
  height: 100vh; /* Définit une hauteur de 100% de la hauteur de la fenêtre */
}

.Contact-title {
  font-size: 36px;
  text-decoration: none;
  color: rgb(0, 217, 255); 
  text-shadow: 
    0 0 5px rgba(0, 100, 255, 0.7),
    0 0 10px rgba(0, 100, 255, 0.7),
    0 0 15px rgba(0, 100, 255, 0.7),
    0 0 20px rgba(0, 100, 255, 0.7),
    0 0 25px rgba(0, 100, 255, 0.7);
    padding: 7vh;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20vh;
  padding: 10vh;
}



.contact-info {
  display: flex;
    flex-direction: column;
    gap: 6vh;
    text-align: left;
}

span {
  align-content: center;
  
}
.contact-form-container {
  padding: 5px;
  width: 80%; 
  max-width: 600px; 
}

.contact-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px; 
}

.contact-block label {
  text-align: right; /* Aligne le texte à droite */
  margin-right: 10px; /* Espace entre le label et l'input */
}

.contact-block input,
textarea {
  flex: 1; /* Laisse l'input occuper l'espace restant */
  min-width: 20px; /* Largeur minimale */

}



.info-item {
  display: flex;
  gap: 20px;
}

label {
  display: flex;
  color: rgb(0, 217, 255); 
  text-shadow: 
    0 0 5px rgba(0, 100, 255, 0.7),
    0 0 10px rgba(0, 100, 255, 0.7),
    0 0 15px rgba(0, 100, 255, 0.7),
    0 0 20px rgba(0, 100, 255, 0.7),
    0 0 25px rgba(0, 100, 255, 0.7);
}


input:-webkit-autofill {
  background-color: transparent !important; /* Rend le fond transparent */
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Supprime le fond ajouté par défaut */
  -webkit-text-fill-color: #fff !important; /* Texte blanc */
  transition: background-color 5000s ease-in-out 0s; /* Évite les transitions visibles */
  font-size: 2vh;
}

input, textarea {
  width: 100%; /* Largeur complète */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent; /* Bordure initialement invisible */
  border-radius: 5px; /* Coins arrondis */
  background-color: transparent; /* Fond transparent */
  color: #fff; /* Couleur du texte */
  transition: box-shadow 0.4s ease; /* Transition progressive sur l'ombre */
}

input:hover, textarea:hover {
  outline: none; /* Supprime le contour par défaut */
  box-shadow: 0 0 20px rgb(255, 0, 191); /* Néon plus intense au focus */
}

input:focus, textarea:focus {
  outline: none; /* Supprime le contour par défaut */
  box-shadow: 0 0 20px rgba(255, 64, 129, 1); /* Néon plus intense au focus */
}

textarea {
  resize: none; /* Désactiver le redimensionnement */
  height: 120px; /* Hauteur du textarea */
}

.submit-button {
  background: linear-gradient(45deg, rgb(255, 0, 191), rgb(0, 102, 255));
  color: white; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Monoton", cursive;
}

.submit-button:hover{
  transform: scale(1.1); 
}


.contact-logo {
  width: 5vh;
  height:5vh;
}

.logo-link-contact {
  display: flex;
  flex-direction: row;
  gap: 5vh;
}

/* MODALE CONTACT**************************/
/* Style pour la modale */
.modal-contact {
  display: none; /* Cacher la modale par défaut */
  position: fixed; /* Fixe la modale en haut à gauche */
  z-index: 1; /* Assure que la modale est par-dessus les autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content-contact {
  background-color: #fff;
  margin: 15% auto; /* Centrer la modale */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close-btn-contact {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
}

.close-btn-contact:hover,
.close-btn-contact:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#clear-form-contact {
  margin-top: 10px;
}


/* FOOTER *******************************************************/
footer p {
  color: rgb(0, 217, 255); 
  text-shadow: 
    0 0 5px rgba(0, 100, 255, 0.7),
    0 0 10px rgba(0, 100, 255, 0.7),
    0 0 15px rgba(0, 100, 255, 0.7),
    0 0 20px rgba(0, 100, 255, 0.7),
    0 0 25px rgba(0, 100, 255, 0.7);
    padding: 10vh;
    display: flex;
    justify-content: center;
}








/*RESPONSIVE********************************************************/
/* Media queries pour petits écrans */
@media screen and (max-width: 768px) {
  section {
    padding: 3vh;
  }

    /*navbar *******************************/
    .nav-content {
      flex-direction: column;
    }
    .menu{
      justify-content: space-between;
    }
    .menu .link-nav {
      font-size: 15px;
    }
    .background-img {
      padding-top: 11%;
    }

    .neon-links {
      display: flex;
      flex-direction: column;
      position: relative;
      font-size: 5vw;
      padding: 3vh;
      right: 0%;
    }

    /*PRESENTATION *************************/
    #presentation {
      flex-direction: column; 
      align-items: center; 
    }

    .presentation-img {
      margin-bottom: 20px; 
      max-width: 300px; 
    }

    .text-container {
      padding: 5vh; 
      text-align: center; 
    }


    #presentation p {
      font-size: small;
    }

    /* PROJECTS****************************/
    .project-card {
      height: auto;
      
    }

    .project-card h3{
      font-size: medium;
      padding: 2vh;
    }

    .project-image img {
      max-width: 100%;
    }

    .tags span {
      font-size: 0.7rem;
    }

    #modal-description-projects {
      font-size: small;
    }

    #modal-video-projects {
      width: 30em;
  }

  /* PARCOURS ****************************/
  .filter-buttons {
    flex-direction: column;
    gap: 3vh;
  }

    /*carousel ****************************/
    .carousel-prev,
    .carousel-next {
      font-size: 5vw; 
      padding: 1rem;  
    }

    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 5vh; 
    }

    .carousel-prev, .carousel-next {
      top: 70%;
    }

    .carousel-prev {
      left: 4%; 
    }

    .carousel-next {
      right: 4%; 
    }

    /*contact **************************/
    .contact-container {
      display: flex;
      flex-direction: column;
      padding: 0vh;
      gap: 8vh;
    }

    contact span {
      font-size: 11px;
    }
    

    .contact-block {
      display: flex;
      flex-direction: column;
    }

  /*footer **************************/
  footer p {
    font-size: small;
  }
}