* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Monoton", cursive;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Zen Dots', sans-serif;
  font-size: large;
}

section {
  padding: 100px 20px;
  text-align: center;
  color: white;
}



/*LOADER*****************************************************/
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeOut 3s forwards; 
  animation-delay: 1s; 
  gap: 26em; 
}

/*@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}*/

.ball {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1; 
}

.ball1 {
  background: linear-gradient(to bottom, rgb(255, 20, 147) 20%, rgb(255, 105, 180) 70%, rgb(0, 255, 255) 100%);
}

.ball2 {
  background: linear-gradient(to bottom, rgb(255, 102, 0) 20%, rgb(255, 165, 0) 70%, rgb(0, 255, 255) 100%);
}

/*.line {
  width: 200%; 
  height: 4px;
  background-color: black; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  animation: rise 6s infinite linear;
  z-index: 2; 
}


.line1 {
  top: 100%;
  height: 10px; 
}
.line2 {
  top: 90%;
  height: 8px;
}
.line3 {
  top: 80%;
  height: 6px;
}
.line4 {
  top: 70%;
  height: 4px;
}
.line5 {
  top: 60%;
  height: 2px; 
}

@keyframes rise {
  0% {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateX(-50%) translateY(-100px); 
      opacity: 0;
  }
}*/


.content {
  display: none;
  text-align: center;
  padding: 20px;
}




/*navbar /menu *****************************************************/

header {
  padding: 10px 0;
}

.menu {
  display: flex;
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 10;
  animation: slide-down 2s forwards;
}

.nav-content {
  display: flex;
}



.menu .link-nav {
  color: rgb(255, 20, 147);
  text-decoration: none;
  margin: 0 25px; 
  font-size: 24px;
  transition: color 0.3s;
}

.link-nav {
  display: none;  
}

.link-nav.visible {
  display: inline-block; 
}

.menu .link-nav:hover {
  color: #ff4081;
}


@keyframes slide-down {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

#toggle-music-button {
  color:#ff4081;
  background-color: transparent;
  border: none; 
  padding: 10px 15px; 
  font-size: 20px; 
  border-radius: 5px; 
  cursor: pointer; 

}

.icon-play {
  display: inline;
}

.icon-pause {
  display: none;
}

@media (max-width: 768px) {


  .menu {
    justify-content: space-between;

    .link-nav {
      font-size: 15px;
    }
  }

  .nav-content {
    flex-direction: column;
  }
}



/*section*******************************************************************/
section {
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  position: relative; 
  overflow: hidden; 
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}

/*Welcome part - background img ******/

#Welcome-part {
  padding: 0px;
  margin: 0px;

}

.background-container {
  width: 100%;
  position: relative;

}

.background-img {
  width: 100%;
  animation: fade-in 6s forwards;
  animation-delay: 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* NEON LINKS **************************/
.neon-links {
  position: absolute;
  bottom: 5%;
  right: 35%;
  transform: translateX(0);
  display: flex;
  gap: 40%;
  flex-wrap: nowrap;
  opacity: 0;
  animation: fade-in-links 1s forwards;
  animation-delay: 6s; 
  z-index: 20;
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

@keyframes fade-in-links {
  0% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}

@media (max-width: 768px) {
  .neon-links {
    gap: 60px;
    font-size: 25px;
    bottom: 24rem;
  }
}

.neon-link1 {
  color: rgb(0, 217, 255); 
  text-decoration: none; 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
}

.neon-link2 {
  color: rgb(183, 233, 171); 
  text-decoration: none; 
  text-shadow: 
      0 0 5px rgba(57, 255, 20, 0.7),
      0 0 10px rgba(57, 255, 20, 0.7),
      0 0 15px rgba(57, 255, 20, 0.7),
      0 0 20px rgba(57, 255, 20, 0.7),
      0 0 25px rgba(57, 255, 20, 0.7);
}

.neon-link3 {
  color: rgb(214, 128, 174); 
  text-decoration: none;
  text-shadow: 
      0 0 5px rgba(255, 20, 147, 0.7),
      0 0 10px rgba(255, 20, 147, 0.7),
      0 0 15px rgba(255, 20, 147, 0.7),
      0 0 20px rgba(255, 20, 147, 0.7),
      0 0 25px rgba(255, 20, 147, 0.7);
}

@keyframes flicker {
  0%, 100% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
}

.neon-link1:nth-child(1) {
  opacity: 0; 
  animation: appear-flicker 1s forwards; 
  animation-delay: 8s; 
}


@keyframes appear-flicker {
  0% {
      opacity: 0; 
  }
  30% {
      opacity: 1; 
  }
  50% {
      opacity: 1; 
  }
  70% {
      opacity: 0; 
  }
  80% {
      opacity: 1; 
  }
  90% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}


.neon-link2:nth-child(2),
.neon-link3:nth-child(3) {
  opacity: 1; 
}

.neon-link1,
.neon-link2,
.neon-link3 {
  display: inline-block; 
  transform-origin: center;
  transition: transform 0.2s ease; 
}

.neon-link1:hover,
.neon-link2:hover,
.neon-link3:hover {
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .neon-links {
  bottom: 20px;

  }
}

/*PROJETS ****************************************************************/

.project-item h3 {
  color: pink;
}
#projects {
  text-align: center;
  padding: 50px;
  color: pink;
}

.Projects-title {
  color: rgb(0, 217, 255); 
  text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
  font-size: 36px; 
  margin: 20px 0; 
}

.projects-grid {
  display: flex;
  flex-direction: column; 
  gap: 40px;
  align-items: center; 
  padding: 0 20px; 
}
.project-card {
  display: flex;
  flex-direction: row; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
  width: 100%; /* S'étend à la largeur du conteneur parent */
  max-width: 1200px; /* Largeur maximale pour les grandes écrans */
  height: 300px; /* Hauteur fixe des cartes */
}


.project-image img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Largeur maximum de l'image */
  border-radius: 10px;
  object-fit: cover;
}

.project-content {
  flex: 1; /* Prend tout l'espace restant pour le contenu */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement le contenu */
}

.project-card:hover {
  transform: scale(1.05);
}
.project-card h3 {
  color: #ff4081;
}
.tags span {
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.8rem;
}
.project-links a {
  color: #00d9ff;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}
.project-links a:hover {
  color: #ff4081;
}

.github-logo {
  width: 5em;
}

.year-tag {
  position: absolute;
  top: -30px; /* Initially hidden above the card */
  right: 10px;
  background-color: #ff4081;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  transition: top 0.3s ease;
}

.project-card:hover .year-tag {
  top: 10px; /* Slides down when hovering */
}

/*MODALE PROJECT****************************************************/
.modal-description-projects {
  color: pink;
}

/*MODAL PROJECT ************************/
.modal-projects {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content-projects {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.modal-projects img {
  max-width: 100%;
  height: auto;
  margin: 5px 0;
}

.tags span, .tool {
  background-color: #eee;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 2px;
  font-size: 0.9em;
}

#modal-video-projects {
  width: 60em;
}

/*PARCOURS*************************************************************/
.parcours-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
.filter-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}
.filter-buttons button:hover {
  background-color: #0056b3;
}



/*Carousel Avis *******************************************************/
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px; /* Largeur maximale */
  margin: auto;
  overflow: hidden; /* Cache les images hors de la vue */
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 100%;
  max-width: 600px; /* S'assure que les images ne dépassent pas la largeur du carousel */
  object-fit: cover;
}

.carousel-prev .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}
/* FORMULAIRE CONTACT***********************************************/
#contact {
  text-align: center;
  padding: 50px 20px;
  color: white;
}

.Contact-title {
  color: rgb(214, 128, 174); 
  font-size: 36px;
  text-decoration: none; 
  text-shadow: 
      0 0 5px rgba(255, 20, 147, 0.7),
      0 0 10px rgba(255, 20, 147, 0.7),
      0 0 15px rgba(255, 20, 147, 0.7),
      0 0 20px rgba(255, 20, 147, 0.7),
      0 0 25px rgba(255, 20, 147, 0.7);
}

.contact-form-container {
  padding: 20px;
  margin: 0 auto;
  width: 80%; /* Largeur de la zone du formulaire */
  max-width: 600px; /* Largeur maximale */
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%; /* Largeur complète */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Bordure des champs */
  border-radius: 5px;
  background-color: #fff; /* Fond des champs */
}

textarea {
  resize: none; /* Désactiver le redimensionnement */
  height: 100px; /* Hauteur du textarea */
}

.submit-button {
  background-color: #ff4081; /* Couleur du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff1a5e; /* Couleur du bouton au survol */
}

/******************************************************** Modale Styles */
.modal {
  display: none; /* Cacher par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la modale */
  max-width: 400px; /* Largeur maximale de la modale */
  text-align: center;
}

.close {
  color: #aaa; /* Couleur de la croix de fermeture */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*PARCOURS *****************************************************/

#parcours {
  text-align: center;
  padding: 50px 20px;
  color: white; /* Couleur du texte */
  display: flex;
  flex-direction: column;
}

.Parcours-title {
  color: rgb(183, 233, 171); /* Vert néon */
  text-decoration: none; /* Pas de soulignement */
  font-size: 36px;
  text-shadow: 
      0 0 5px rgba(57, 255, 20, 0.7),
      0 0 10px rgba(57, 255, 20, 0.7),
      0 0 15px rgba(57, 255, 20, 0.7),
      0 0 20px rgba(57, 255, 20, 0.7),
      0 0 25px rgba(57, 255, 20, 0.7);
}

.parcours-container {
  display: flex; /* Flexbox pour aligner les éléments horizontalement */
  justify-content: center; /* Espacer l'image et les carousels */
  align-items: flex-start; /* Aligner les éléments au début (en haut) */
  gap: 20px; /* Espacement entre l'image et les carousels */
}

.portrait {
  flex-shrink: 0; /* Empêche l'image de se réduire */
}

.portrait-img {
  width: 200px;  /* Ajuste la largeur de l'image */
  height: auto;  /* Laisse la hauteur s'ajuster automatiquement */
}

.parcours-item {
  flex: 0 0 33%; /* Chaque item prend 33% de la largeur du conteneur (3 éléments visibles à la fois) */
  margin: 0 10px; /* Espacement entre les éléments */
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Inclut la marge et le padding dans le calcul de la largeur */
}

.parcours-logo {
  width: 100px; /* Largeur du logo */
  height: auto; /* Hauteur automatique pour conserver le ratio */
  margin-bottom: 15px; /* Espacement en dessous du logo */
}

.parcours-item.active {
  opacity: 1; /* Pleine opacité pour la carte active */
  transform: scale(1.1); /* Mettez en valeur l'élément central */
}

/*AVIS*****************************************************/
.letters {
  width: 100%;
  max-width: 100%;
}

.letter {
  width: 100%;
  max-width: 100%;
}