@charset "UTF-8";
#avis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avis-title {
  color: rgb(214, 128, 174);
  font-size: 36px;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.7), 0 0 25px rgba(255, 20, 147, 0.7);
}

.avis-text {
  padding-bottom: 10vh;
}

.letters {
  width: 100%;
  max-width: 100%;
}

.letter {
  width: 100%;
  max-width: 100%;
}

/* button CV ***************************/
.img-CV-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10vh;
}

.cv-button {
  color: black; /* Couleur du texte */
  background: linear-gradient(to top, rgb(255, 0, 140), rgb(255, 208, 0), rgb(238, 255, 0)); /* Dégradé de bas en haut */
  box-shadow: 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.7), 0 0 25px rgba(255, 20, 147, 0.7);
  border: none; /* Supprime les bordures */
  border-radius: 50%; /* Rend l'élément circulaire */
  width: 100px; /* Largeur pour créer un cercle */
  height: 100px; /* Hauteur identique pour conserver la forme */
  display: flex; /* Pour centrer le texte */
  justify-content: center; /* Centrage horizontal du texte */
  align-items: center; /* Centrage vertical du texte */
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  cursor: pointer; /* Curseur interactif */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation pour effet au survol */
}

.cv-button:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Augmente l'ombre au survol */
}

.cv-button:active {
  transform: scale(0.95); /* Rétrécit légèrement le bouton au clic */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Réduit l'ombre au clic */
}

.cv-text {
  color: black;
  text-shadow: none;
}

/*Carousel Avis *******************************************************/
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Boutons de navigation */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 60%; /* Centrage vertical */
  transform: translateY(-50%); /* Ajuste le centrage */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 5vw; /* Taille responsive des icônes */
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Ajouter un arrondi pour un effet circulaire */
}

/* Place les flèches à l'extérieur de l'image */
.carousel-prev {
  left: 24%; /* Positionner à gauche */
}

.carousel-next {
  right: 24%; /* Positionner à droite */
}

.fa-arrow-left,
.fa-arrow-right {
  color: rgb(214, 128, 174);
  font-size: 8vh; /* Taille de l'icône responsive */
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.7), 0 0 25px rgba(255, 20, 147, 0.7);
}

#intermediaire {
  padding: 0vh;
}

/*MODAL AVIS ******************/
.modal-avis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: auto;
}

.modal-content-avis {
  position: relative;
  border-radius: 10px;
  text-align: center;
  z-index: 10001;
  width: 90%;
  max-width: 150vh;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.modal-close-avis {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10002;
  color: black;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.7), 0 0 25px rgba(255, 20, 147, 0.7);
}

.modal-image-avis {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-image-container-avis {
  max-height: 70vh;
  overflow: auto;
  padding: 10px;
}/*# sourceMappingURL=avis.css.map */