footer p {
    color: rgb(0, 217, 255); 
    text-shadow: 
      0 0 5px rgba(0, 100, 255, 0.7),
      0 0 10px rgba(0, 100, 255, 0.7),
      0 0 15px rgba(0, 100, 255, 0.7),
      0 0 20px rgba(0, 100, 255, 0.7),
      0 0 25px rgba(0, 100, 255, 0.7);
      padding: 10vh;
      display: flex;
      justify-content: center;
  }
  
  /* Media queries pour petits écrans */
@media screen and (max-width: 768px) {
  section {
    padding: 3vh;
  }

    /*navbar *******************************/
    .nav-content {
      flex-direction: column;
    }
    .menu{
      justify-content: space-between;
    }
    .menu .link-nav {
      font-size: 15px;
    }
    .background-img {
      padding-top: 11%;
    }

    .neon-links {
      display: flex;
      flex-direction: column;
      position: relative;
      font-size: 5vw;
      padding: 3vh;
      right: 0%;
    }

    /*PRESENTATION *************************/
    #presentation {
      flex-direction: column; 
      align-items: center; 
    }

    .presentation-img {
      margin-bottom: 20px; 
      max-width: 300px; 
    }

    .text-container {
      padding: 5vh; 
      text-align: center; 
    }


    #presentation p {
      font-size: small;
    }

    /* PROJECTS****************************/
    .project-card {
      height: auto;
      
    }

    .project-card h3{
      font-size: medium;
      padding: 2vh;
    }

    .project-image img {
      max-width: 100%;
    }

    .tags span {
      font-size: 0.7rem;
    }

    #modal-description-projects {
      font-size: small;
    }

    #modal-video-projects {
      width: 30em;
  }

  /* PARCOURS ****************************/
  .filter-buttons {
    flex-direction: column;
    gap: 3vh;
  }

    /*carousel ****************************/
    .carousel-prev,
    .carousel-next {
      font-size: 5vw; 
      padding: 1rem;  
    }

    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 5vh; 
    }

    .carousel-prev, .carousel-next {
      top: 70%;
    }

    .carousel-prev {
      left: 4%; 
    }

    .carousel-next {
      right: 4%; 
    }

    /*contact **************************/
    .contact-container {
      display: flex;
      flex-direction: column;
      padding: 0vh;
      gap: 8vh;
    }

    contact span {
      font-size: 11px;
    }
    

    .contact-block {
      display: flex;
      flex-direction: column;
    }

  /*footer **************************/
  footer p {
    font-size: small;
  }
}