@charset "UTF-8";
header {
  padding: 10px 0;
}

.menu {
  display: flex;
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: slide-down 2s forwards;
}

.nav-content {
  display: flex;
}

.menu .link-nav {
  color: rgb(255, 20, 147);
  text-decoration: none;
  margin: 0 25px;
  font-size: 24px;
  transition: color 0.3s;
}

.link-nav {
  display: none;
}

.link-nav.visible {
  display: inline-block;
}

.menu .link-nav:hover {
  color: rgb(0, 217, 255);
}

@keyframes slide-down {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}
#toggle-music-button {
  color: rgb(255, 20, 147);
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#toggle-music-button:hover {
  color: rgb(0, 217, 255);
}

.icon-play {
  display: inline;
}

.icon-pause {
  display: none;
}

/*Welcome part - background img ******/
#Welcome-part {
  padding: 0px;
  margin: 0px;
}

.background-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column; /* Aligne contenu verticalement */
  align-items: center; /* Centrer les éléments */
}

.background-img {
  width: 100%;
  opacity: 0; /* Assurez-vous que l'image est invisible au départ */
  animation: fade-in 6s forwards;
  animation-delay: 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* NEON LINKS **************************/
.neon-links {
  position: absolute;
  bottom: 5%;
  right: 35%;
  transform: translateX(0);
  display: flex;
  gap: 40%;
  flex-wrap: nowrap;
  opacity: 0;
  animation: fade-in-links 1s forwards;
  animation-delay: 6s;
  z-index: 20;
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.neon-link1,
.neon-link2,
.neon-link3 {
  text-align: center;
}

.neon-link1 {
  color: rgb(0, 217, 255);
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 100, 255, 0.7), 0 0 10px rgba(0, 100, 255, 0.7), 0 0 15px rgba(0, 100, 255, 0.7), 0 0 20px rgba(0, 100, 255, 0.7), 0 0 25px rgba(0, 100, 255, 0.7);
}

.neon-link2 {
  color: rgb(183, 233, 171);
  text-decoration: none;
  text-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 15px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), 0 0 25px rgba(57, 255, 20, 0.7);
}

.neon-link3 {
  color: rgb(214, 128, 174);
  text-decoration: none;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.7), 0 0 10px rgba(255, 20, 147, 0.7), 0 0 15px rgba(255, 20, 147, 0.7), 0 0 20px rgba(255, 20, 147, 0.7), 0 0 25px rgba(255, 20, 147, 0.7);
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.neon-link1:nth-child(1) {
  opacity: 0;
  animation: appear-flicker 1s forwards;
  animation-delay: 8s;
}

.neon-link2:nth-child(2) {
  opacity: 1;
  animation-delay: 4s;
}

@keyframes appear-flicker {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.neon-link3:nth-child(3) {
  opacity: 1;
}

.neon-link1,
.neon-link2,
.neon-link3 {
  display: inline-block;
  transform-origin: center;
  transition: transform 0.2s ease;
}

.neon-link1:hover,
.neon-link2:hover,
.neon-link3:hover {
  transform: scale(1.1);
}

/* TEXTE PRESENTATION ****************************************************/
#presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10vh;
}

.presentation-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.presentation-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  padding: 5vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=header.css.map */