.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  
  
  .loader-rectangle {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    border: none; 
    padding: 10vh;
    border-radius: 10px; 
    position: relative; 
  }
  
  .loader-rectangle::before,
  .loader-rectangle::after {
    content: "";
    position: absolute;
    left: 0;
    height: 5px; 
    width: 0%; 
    background-color: rgb(0, 217, 255); 
    animation: drawLine 2s linear forwards, fadeOutBorder 0.2s linear forwards 1.9s; 
  }
  
  .loader-rectangle::before {
    top: 0; 
  }
  
  .loader-rectangle::after {
    bottom: 0; 
  }
  
  @keyframes drawLine {
    0% {
      width: 0%;
    }
    100% {
      width: 100%; 
    }
  }
  
  @keyframes fadeOutBorder {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0; 
    }
  }
  
  .loader__spinner {
    border: 5px solid rgb(0, 217, 255); 
    border-right: 10px solid transparent; 
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite, fadeOutLoader 0.2s 1.9s forwards; 
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeInContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutLoader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .loader-enabled {
    opacity: 0;
    animation: fadeInContent 3s forwards 2s;
    position: relative;
    z-index: 10;
  }