* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: black;
    font-family: "Monoton", cursive;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  
  p {
    font-family: 'Zen Dots', sans-serif;
    font-size: large;
    color: rgb(0, 217, 255); 
    text-shadow: 
        0 0 5px rgba(0, 100, 255, 0.7),
        0 0 10px rgba(0, 100, 255, 0.7),
        0 0 15px rgba(0, 100, 255, 0.7),
        0 0 20px rgba(0, 100, 255, 0.7),
        0 0 25px rgba(0, 100, 255, 0.7);
  }
  
  section {
    padding: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: hidden; 
  }
  
  #presentation, 
  #projects,
  #intermediaire,
  #parcours,
  #avis,
  #contact,
  footer {
  opacity: 0;
  animation: fade-in 4s forwards;
  animation-delay: 10s;
  }